[submodule "vector_db"]
	path = vector_db
	url = https://github.com/Lelalomos/vector-database-recommendation.git
[submodule "worker"]
	path = worker
	url = https://github.com/Lelalomos/worker-service-recommendation.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/Lelalomos/rabbitMQ-service-recommendation.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/Lelalomos/postgresql-service-recommendation.git
[submodule "api-service"]
	path = api-service
	url = https://github.com/Lelalomos/api-service-reccomdations.git
